// Блок подключения шрифтов
@font-face {
  font-family: "Ibarra Real Nova";
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"),
    url("../fonts/IbarraRealNova-Regular.woff2") format("woff2"),
    url("../fonts/IbarraRealNova-Regular.woff") format("woff"),
    url("../fonts/IbarraRealNova-Regular.ttf") format("truetype"),
    url("../fonts/IbarraRealNova-Regular.svg#IbarraRealNova-Regular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.svg#OpenSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
// Блок подключения шрифтов

// Блок переменных

$font-open-sans: "Open Sans", sans-serif;
$font-ibarra: "Ibarra Real Nova", sans-serif;
$component-shadow-color: #08204d;
$box-shadow-component: 3px 3px 10px 2px $component-shadow-color;
$box-shadow-component-hover: 5px 5px 10px 3px $component-shadow-color;
$box-shadow-frame-items: 3px 3px 20px 2px $component-shadow-color;
$text-shadow: 2px 3px 8px #000;
$b-rad-i: 5px;
$b-rad-ii: 10px;
$b-rad-iii: 20px;
$b-rad-iv: 50px;
$item-graddient-i: #101274;
$item-graddient-ii: #f5e611;

// Блок переменных

// Блок мексин

%font-style-shadow {
  font-style: italic;
  text-shadow: $text-shadow;
}

%style-text-ibarra_italic_shadow {
  font-family: $font-ibarra;
  @extend %font-style-shadow;
}

%style-text-open_italic_shadow {
  font-family: $font-open-sans;
  @extend %font-style-shadow;
}

%style-box-frame {
  background: linear-gradient(45deg, #eae8e8, #9377c7);
  padding: 5px;
  border-radius: $b-rad-ii;
  box-shadow: $box-shadow-component;
}

%style-box-wrap {
  border-radius: $b-rad-i;
  box-shadow: $box-shadow-component;
}

%align-justify-items {
  align-items: center;
  justify-items: center;
}

%align-justify-self {
  align-self: center;
  justify-self: center;
}

%align-justify-content {
  align-content: center;
  justify-content: center;
}

%style-tab-wrap {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "tab-date" "tab-templine";
  grid-template-rows: 80px 150px;
  @extend %style-box-wrap;
  background-color: #fff;
}
%style-value {
  display: flex;
  margin: auto;
  height: 70px;
  width: 120px;
  border-radius: $b-rad-ii;
  box-shadow: $box-shadow-frame-items;
  font-size: 40px;
}

// Блок мексин

// блок анимаций

@keyframes now_weather_size {
  0% {
    font-size: 100px;
  }
  50% {
    font-size: 105px;
  }
  100% {
    font-size: 100px;
  }
}

// блок анимаций

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: $font-open-sans;
  font-weight: 600;
  font-size: 18px;
  height: 1vh;
  background: linear-gradient(45deg, #99b2db, #5c5696);
  &.style_body_active {
    background: linear-gradient(45deg, #42e9ff, #ffca57);

    .header {
      background-color: #3cb1c5;
    }
  }
  &.temp_body_active {
    .unit_temperature_c {
      display: none;
    }

    .unit_temperature_f {
      display: inline;
    }
  }

  &.fovarites_body_active {
    .container-1 {
      display: none;
    }
    .container-2 {
      display: inline;
    }
  }
}
.unit {
  margin: auto;
  font-family: $font-ibarra;
  font-style: italic;
  align-self: center;
}

.unit_temperature_c {
  display: inline;
}

.unit_temperature_f {
  display: none;
}
.container-1 {
  display: inline;
}
.container-2 {
  display: inline;
}

.header {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr;
  grid-template-areas: "header-logo header-text header-nav";
  grid-row: 1fr;
  min-height: 70px;
  align-content: center;
  background-color: #3c5c75;
  box-shadow: 2px 2px 8px 5px #08204d;

  &.style_header_acrive {
    background-color: #3cb1c5;
  }

  &-logo {
    grid-area: header-logo;
    justify-self: center;

    .icon__logo {
      height: 50px;
      border-radius: 13px;
      box-shadow: $box-shadow-component;
      transition-duration: 0.2s;
    }

    .icon__logo:hover {
      box-shadow: $box-shadow-component-hover;
    }
  }
  &-text {
    grid-area: header-text;
    margin: 0;
    align-self: center;
    justify-self: center;
    font-family: $font-ibarra;
    font-weight: 400;
    font-style: italic;
    font-size: 40px;
    color: #fff;
    text-shadow: 3px 5px 5px #1b276b;
  }
  &-nav {
    grid-area: header-nav;
    align-self: center;
    justify-self: center;

    .btn.btn-default {
      outline-style: none;
    }

    .nav-btn {
      margin: 5px;
      line-height: 1;
      height: 30px;
      background-color: #47aced;
      border-color: #226a97;
      border-radius: $b-rad-ii;
      box-shadow: $box-shadow-component;
      transition-duration: 0.2s;
      .icon__gear {
        height: 18px;
        width: 18px;
      }
    }

    .nav-btn:hover {
      background-color: #7996e4;
      box-shadow: $box-shadow-component-hover;
    }
  }
}

.main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-areas:
    " . . . i-s i-s i-s i-s i-s i-s . . . "
    " . f-f f-f f-f f-f f-f f-f f-f f-f f-f f-f . ";
  align-content: center;

  .input-search {
    grid-area: i-s;

    .input-group {
      margin: 30px 0;
      box-shadow: $box-shadow-component;
      transition-duration: 0.2s;
      .input-group-addon {
        .icon__search {
          height: 18px;
          width: 18px;
        }
      }
    }
  }

  .input-group:hover {
    box-shadow: $box-shadow-component-hover;
  }

  .forecast-frame {
    grid-area: f-f;
    @extend %style-box-frame;
    height: 760px;

    .forecast-wrap {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "frame-items-day" "tabs";
      grid-template-rows: 2fr 1fr;
      height: 750px;
      background: url(../img/fon-winter.png) center no-repeat;
      background-size: cover;
      @extend %style-box-wrap;

      .frame-items-day {
        grid-area: frame-items-day;
        display: grid;
        grid-template-columns: 2fr 4fr 1fr;
        grid-template-areas: "f-i-1 n_t f-i-a";
        grid-template-rows: 1fr;

        @extend %align-justify-items;
        height: 500px;

        .frame-items-1 {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-areas: "desc" "weather" "feel" "astro";
          grid-template-rows: 2fr 5fr 1fr 2fr;
          grid-area: f-i-1;
          height: 450px;
          min-width: 250px;
          width: 90%;
          background-color: #fff;
          background: url(../img/items-1.jpg) center no-repeat;
          background-size: cover;
          background-position: center;
          background-clip: content-box;
          border-radius: $b-rad-iv;
          border: 2px solid #535050;
          box-shadow: $box-shadow-frame-items;
          @extend %align-justify-items;

          .now_astro {
            grid-area: astro;
            display: grid;
            grid-template-columns: 1.2fr 2fr 1.2fr;
            grid-template-areas: "sunrise . sunset";
            @extend %align-justify-items;

            .now_astro_item {
              padding: 10px;
              width: 100px;
              height: 70px;
              border-radius: 50%;
              box-shadow: $box-shadow-frame-items;
              text-align: center;
              color: #fff;

              .now_astro_time {
                @extend %style-text-ibarra_italic_shadow;
              }

              .now_astro_caption {
                @extend %style-text-ibarra_italic_shadow;
              }
            }

            .item_sunrise {
              grid-area: sunrise;
              background: linear-gradient(
                30deg,
                $item-graddient-i,
                $item-graddient-ii
              );
            }

            .item_sunset {
              grid-area: sunset;
              background: linear-gradient(
                120deg,
                $item-graddient-ii,
                $item-graddient-i
              );
            }
          }
          .now_weather {
            grid-area: weather;
            display: flex;
            align-items: center;
            justify-content: center;
            @extend %style-text-ibarra_italic_shadow;
            color: #64c6ff;
            font-size: 100px;

            // animation-name: now_weather_size;
            // animation-duration: 3s;
            // animation-timing-function: linear;
            // animation-iteration-count: infinite;
          }
          .now_feel {
            grid-area: feel;

            width: 180px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: $b-rad-i;
            border: 1px solid rgba(255, 255, 255, 0.8);

            @extend %style-text-open_italic_shadow;
            color: rgb(230, 227, 227);
            font-size: 24px;
          }
          .now_desc {
            grid-area: desc;
            width: 180px;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: $b-rad-i;
            border: 1px solid rgba(255, 255, 255, 0.8);

            @extend %style-text-open_italic_shadow;
            color: rgb(230, 227, 227);
            font-size: 24px;
          }
        }

        .now_time {
          grid-area: n_t;
          width: 380px;
          height: 60px;
          background-color: rgba(200, 240, 245, 0.5);
          border-radius: $b-rad-iii;
          box-shadow: $box-shadow-frame-items;
          text-align: center;
          @extend %style-text-ibarra_italic_shadow;
          color: #43138f;
          font-size: 40px;
          font-weight: 400;
        }

        .frame-items-add {
          grid-area: f-i-a;
          align-self: flex-start;

          .fia-btn {
            display: flex;

            line-height: 1;
            height: 30px;
            background-color: #addefd;
            border-color: #226a97;
            border-radius: $b-rad-ii;
            box-shadow: $box-shadow-component;
            transition-duration: 0.2s;

            margin-top: 10px;
            width: 160px;
            justify-content: space-between;
            .icon__heart {
              fill: #9c1d1d;
              height: 20px;
              width: 20px;
            }
          }
          .fia-btn:hover {
            background-color: #7996e4;
            box-shadow: $box-shadow-component-hover;
          }
        }
      }

      .tabs {
        grid-area: tabs;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "t-i-f-1 t-i-f-2 t-i-f-3 t-i-f-4 t-i-f-5";
        grid-template-rows: 1fr;
        height: 250px;

        .tab-items-frame-1 {
          grid-area: t-i-f-1;
          margin: 0px 5px 10px 10px;
          @extend %style-box-frame;

          .tab-1-wrap-bg {
            background: url(../img/items-clear.jpg) center no-repeat;
            background-size: cover;
          }
        }

        .tab-items-frame-2 {
          grid-area: t-i-f-2;
          margin: 0px 5px 10px 5px;
          @extend %style-box-frame;

          .tab-2-wrap-bg {
            background: url(../img/items-rainy.jpg) center no-repeat;
            background-size: cover;
          }
        }

        .tab-items-frame-3 {
          grid-area: t-i-f-3;
          margin: 0px 5px 10px 5px;
          @extend %style-box-frame;

          .tab-3-wrap-bg {
            background: url(../img/items-foggy.jpg) center no-repeat;
            background-size: cover;
          }
        }

        .tab-items-frame-4 {
          grid-area: t-i-f-4;
          margin: 0px 5px 10px 5px;
          @extend %style-box-frame;

          .tab-4-wrap-bg {
            background: url(../img/items-overcast.jpg) center no-repeat;
            background-size: cover;
          }
        }

        .tab-items-frame-5 {
          grid-area: t-i-f-5;
          margin: 0px 10px 10px 5px;
          @extend %style-box-frame;

          .tab-5-wrap-bg {
            background: url(../img/items-snowfall.jpg) center no-repeat;
            background-size: cover;
          }
        }

        .tab-wrap {
          @extend %style-tab-wrap;
        }

        .tab-date {
          grid-area: tab-date;
          display: flex;
          height: 50px;
          width: 180px;

          align-self: center;
          justify-self: center;

          background-color: rgba(200, 240, 245, 0.3);
          border-radius: $b-rad-ii;
          box-shadow: $box-shadow-frame-items;

          .text-box {
            display: block;
            margin: auto;
            align-self: center;

            @extend %style-text-open_italic_shadow;
            font-size: 25px;
            font-weight: 400;
            color: #fff;
          }
        }

        .tab-templine {
          grid-area: tab-templine;

          .values {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:
              ". value_max"
              "value_min value_max"
              "value_min .";
            height: 150px;

            .value_min {
              grid-area: value_min;
              @extend %style-value;
              background-color: rgba(40, 172, 212, 0.7);
            }
            .value_max {
              grid-area: value_max;
              @extend %style-value;
              background-color: rgba(118, 197, 53, 0.7);
            }
          }
        }
      }
    }
  }
}

.modal-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 100px;
  grid-template-areas: "setting-style" "setting-temp";
  align-content: center;

  .setting-style {
    grid-area: setting-style;

    .check-container-style {
      position: absolute;
      top: 20%;
      left: 25%;
      transform: translate(-50%);
      input[type="checkbox"] {
        position: relative;
        width: 50px;
        height: 20px;
        border: 2px solid #262626;
        border-radius: 20px;
        background: #08066b url(/assets/img/moon.png) center no-repeat;
        background-size: cover;
        outline-style: none;
        -webkit-appearance: none;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 23px;
          height: 16px;
          background: linear-gradient(0deg, #000, #6b6b6b);
          border-radius: 20px;
          transition: 0.5s;
        }
        &:checked {
          background: #0a93c9 url(/assets/img/sun.png) center no-repeat;
          background-size: cover;
          &:before {
            content: "";
            left: 23px;
          }
        }
      }
    }
  }

  .setting-temp {
    grid-area: setting-temp;

    .check-container-temp {
      position: absolute;
      top: 65%;
      left: 25%;
      transform: translate(-50%);
      input[type="checkbox"] {
        position: relative;
        width: 50px;
        height: 20px;
        border: 2px solid #262626;
        border-radius: 20px;
        background: #0c6e8b;
        background-size: cover;
        outline-style: none;
        -webkit-appearance: none;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 23px;
          height: 16px;
          background: linear-gradient(0deg, #000, #6b6b6b);
          border-radius: 20px;
          transition: 0.5s;
        }
        &:checked {
          background: #0d0ac9;
          background-size: cover;
          &:before {
            content: "";
            left: 23px;
          }
        }
      }
    }
  }
}

.content_fovarites {
  margin: 30px auto 10px auto;
  // background-color: rgb(27, 26, 26);

  display: grid;
  grid-template-rows: minmax(300px, min-content);
  grid-template-columns: repeat(auto-fill, 100px);
  grid-template-columns: repeat(auto-fit, 100px);
  width: 90%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 300px;

  .item-town {
    margin: auto;
    display: grid;
    grid-template-rows: minmax(280px, min-content);
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-columns: repeat(auto-fit, 300px);
    grid-auto-rows: 280px;

    .item-town-inner {
      display: grid;
      margin: 0 10px;
      background-color: #333;      
      border-radius: 20px;
      box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.5), 0px 2px 0px rgba(255, 255, 255, 0.5);

      grid-template-rows: minmax(50px, min-content);
      grid-template-columns: repeat(auto-fill, 1fr);
      grid-template-columns: repeat(auto-fit, 1fr);
      
      @extend %align-justify-items;

      .name-town {
        width: 180px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: $b-rad-i;
        border: 1px solid rgba(255, 255, 255, 0.8);

        @extend %style-text-open_italic_shadow;
        color: rgb(230, 227, 227);
        font-size: 24px;
      }
      .now-weather-towm {
        font-size: 80px;
        color: #000;
      }
      .now-desc-town {
        width: 180px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: $b-rad-i;
        border: 1px solid rgba(255, 255, 255, 0.8);

        @extend %style-text-open_italic_shadow;
        color: rgb(230, 227, 227);
        font-size: 24px;
      }
    }
  }
}
