*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 1080px;
  background: linear-gradient(45deg, #99b2db, #5c5696);
}

.unit {
  display: inline;
}

.unit_temperature_c {
  display: inline;
}

.unit_temperature_f {
  display: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr 9fr 2fr;
  grid-template-areas: "header-logo header-text header-nav";
  grid-row: 1fr;
  min-height: 70px;
  align-content: center;
  background-color: #3c5c75;

  &-logo {
    grid-area: header-logo;
    justify-self: center;
    .icon__logo {
      height: 50px;
    }
  }
  &-text {
    grid-area: header-text;
    margin: 0;
    align-self: center;
    justify-self: center;
    font-weight: 700;
    color: #fff;
  }
  &-nav {
    grid-area: header-nav;
    align-self: center;
    justify-self: center;
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: " . . . input-search input-search  input-search input-search input-search input-search . . . " " . forecast-frame forecast-frame forecast-frame forecast-frame forecast-frame forecast-frame forecast-frame forecast-frame forecast-frame forecast-frame . ";
  align-content: center;

  .input-search {
    grid-area: input-search;

    .input-group {
      margin: 30px 0;
      .input-group-addon {
        .icon__search {
          height: 18px;
          width: 18px;
        }
      }
    }
  }

  .forecast-frame {
    grid-area: forecast-frame;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px 5px;

    height: 100%;

    .forecast-wrap {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: "frame-items-day" "tabs";
      background-image: url(../img/fon-winter.png);

      border-radius: 3px;

      .frame-items-day {
        grid-area: frame-items-day;
        display: grid;
        grid-template-columns: 2fr 4fr 1fr;
        grid-template-areas: "frame-items-1 now_time frame-items-add";
        align-content: center;
        height: 500px;

        .frame-items-1 {
          display: grid;
          grid-area: frame-items-1;
          background-color: #fff;
          margin: 25px;
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          color: #000;
          height: 450px;
          border-radius: 50px 50px;
          background-image: url(../img/items-1.jpg);
          background-position: center;
          background-clip: content-box;
          box-shadow: 5px 3px 30px 2px rgb(8, 32, 77);
          align-items: center;
          justify-items: center;

          .now_astro {
            font-size: 18px;

            .now_astro_item{
              color: #fff;
            }

            .item_sunrise{
              color: #fff;              
            }

            .item_sunset{
              color: #fff;
            }
          }
          .now_weather {
            font-size: 18px;
          }
          .now_feel {
            font-size: 18px;
          }
          .now_desc {
            .tip {
              font-size: 18px;
            }
          }
        }

        .now_time {
          grid-area: now_time;
          align-self: center;
          justify-self: center;
          font-size: 17px;
          color: #fff;
        }

        .frame-items-add {
          grid-area: frame-items-add;

          .fia-btn {
            align-self: center;
            justify-self: center;
          }

          .icon__heart {
            fill: rgb(156, 29, 29);
            height: 30px;
            width: 30px;
          }
        }
      }

      .tabs {
        margin: 0 10px 10px;
        grid-area: tabs;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: "tab-items tab-items1 tab-items2 tab-items3 tab-items4";
        grid-column-gap: 20px;
        height: 100%;

        .tab-items {
          grid-area: tab-items;

          background-color: #fff;
          padding: 10px;
          border-radius: 5px 5px;

          .tab-wrap {
            .tab-date {
              font-size: 18px;
            }

            .tab-templine {
              .tab-templine-inner {
                .chart {
                  .values {
                    .value_min {
                      font-size: 18px;
                    }
                    .value_max {
                      font-size: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
