body {
  margin: 0;
  background-color: #000;
}

*,
*:after,
*:before {
  margin: 0;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
} */

header {  
  background-color: #fff;
  align-items: center;  
  height: 300px;
}

.header--logo {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}
